@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

/*edited the styles so columns change colors on tablets and desktop.*/

/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background:#ff0026;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background:#FF4500;
}

#column-2 {
  background:#9400D3;
}

#column-3 {
  background:#00FFFF;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background:#46d246;
}


/*---------- TABLET ----------*/

/*These media queries are saying that once
the screen is at least 768px wide 
(or the width of many tablets), 
it will switch to a new set of styles.*/

@media (min-width: 768px) {
  header {
    background-color: #0a290a;
  }

  #column-1 {
    background-color: #196719;
  }

  #column-2 {
    background-color:#46d246 ;
  }

  #column-3 {
    background-color:#98e698;
  }

  footer {
    background-color:#28a428 ;
  }
  
}


/*---------- Desktops ----------*/
/* This says that once the screen is at least 1200px wide,
 it will start using the desktop styles*/

@media (min-width: 1200px) {
  header {
    background-color:#4d004d;
  }

  #column-1 {
    background-color:#b300b3;
  }

  #column-2 {
    background-color:#ff1aff;
  }

  #column-3 {
    background-color:#ff80ff;
  }

  footer {
    background-color:#1a001a;
  }
   
}
